html,
body, h1, h2 {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* Кнопка Start Game  */
#startBtn {
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    background-color: #2BC1F2;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    display: block;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    z-index: 1000;
}

.modal {
    position: fixed;
    width: 25vw;
    height: 35vh;
    margin: 0;
    background: #fff;
    display: none;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
    z-index: 1001;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 1000;
    cursor: pointer;
}

/* Стилі для модального вікна  */
.for-fighter-popup{
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    width: 300px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    display: none;
    box-sizing: border-box;
}
.fighter-popup h2{
    text-align: center;
}
.info{
    float: left;
    margin: 5px 5px 0 0;
    font-size: 18px;
    display: inline-block;
}
.value{
    float: left;
    margin: 5px 5px 0 0;
    font-size: 18px;
    display: inline-block;
}
.valueAttack{
    float: left;
    margin: 5px 15px 0 0;
    font-size: 18px;
    display: inline-block;
}
.new-value{
    margin: 5px 5px 0 50px;
    font-size: 18px;
    display: inline-block;
}
input[type="number"]{
    width: 20%;
    padding-left: 2px;
    float: right;
    border-radius: 5px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: 2px solid #2BC1F2;
}
.checkbox-text{
    margin: 40px 0 0 50px;
    font-size: 18px;
    display: inline-block;
}
.checkbox-icon{
    margin-top: 45px;
    float: right;
}
    
button[name="chooseFighter"]{
    float: left;
    width: 40%;
    padding: 5x; 
    margin-top: 30px;
    color: #fff;
    background-color: #2BC1F2;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 15px 15px;
    /* position: relative; */
}


.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
/* розвертаэмо файтера 2 на 180 гр  */
.fighter-rotate {
    transform: rotateY(180deg);
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}
/* розвертаэмо ім"я та інфо на 180 гр  */
.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}
.back-rotate {
    transform: rotateY(180deg);
}

.div-fighter1-info {
    padding-left: 80px;
}
/* розвертаэмо ім"я та інфо на 180 гр  */
.div-fighter2-info {
    transform: rotateY(180deg);
    padding-left: 80px;
}

.punch {
    margin-left: 70px;
}
.fighter-image {
    height: 260px;
}
/* Модалка для закічення гри */
.winner {
    display: block;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif
}
#end {
    display: block;
    margin-top: 40px;
    margin-left: 90px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
.open {
    display: block; 
}

